.button {
  display: inline-block;
  background-color: #3994a0;
  border: none;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

.button_disabled {
  cursor: auto;
}
