@import url(../components/home/home.css);
@import url(../components/button/button.css);
@import url(../components/input/Inputs.css);
@import url(../components/cards/cards.css);
@import url(../components/pagination-btn/PaginationBtn.css);
@import url(../components/card/card.css);
@import url(../components/card-details/DetailedCard.css);


.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}
