.card {
  display: flex;
  width: 190px;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  border: solid 2px;
  background-color: #dbdbdb;
}

.card_active {
  cursor: pointer;
}

.name {
  padding: 10px;
}

.name__title {
  margin: 0;
}

.description__title {
  margin: 3px;
}
